@charset "UTF-8";

/* telas pequenas */
@media only screen and (max-width: 300px){
    .btn{
        font-size: 0.75rem;
    }
}
/* smartphone - botões*/
@media only screen and (max-width: 600px){
    button {
        width: 40%;
        /* height: 80%; */
    }
}

/* tablet - geral */
@media only screen and (max-width: 992px) {
    div.nota{
        height: 80%;
    }
}